<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jspProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login.me</display-name>
    <servlet-name>login.me</servlet-name>
    <servlet-class>com.kh.member.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login.me</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout.me</display-name>
    <servlet-name>Logout.me</servlet-name>
    <servlet-class>com.kh.member.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout.me</servlet-name>
    <url-pattern>/Logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberEnrollForm.me</display-name>
    <servlet-name>memberEnrollForm.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberEnrollFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberEnrollForm.me</servlet-name>
    <url-pattern>/memberEnrollForm.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertMember.me</display-name>
    <servlet-name>insertMember.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertMember.me</servlet-name>
    <url-pattern>/insertMember.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mypage.me</display-name>
    <servlet-name>mypage.me</servlet-name>
    <servlet-class>com.kh.member.controller.MypageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypage.me</servlet-name>
    <url-pattern>/mypage.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePwd.me</display-name>
    <servlet-name>updatePwd.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberPwdUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePwd.me</servlet-name>
    <url-pattern>/updatePwd.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete.me</display-name>
    <servlet-name>delete.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete.me</servlet-name>
    <url-pattern>/delete.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update.me</display-name>
    <servlet-name>update.me</servlet-name>
    <servlet-class>com.kh.member.controller.MemberUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update.me</servlet-name>
    <url-pattern>/update.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>list.bo</display-name>
    <servlet-name>list.bo</servlet-name>
    <servlet-class>com.kh.board.controller.BoardListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list.bo</servlet-name>
    <url-pattern>/list.bo</url-pattern>
  </servlet-mapping>
</web-app>